$font-family: monospace;
$font-family-fallback: sans-serif;

// Colors:
$color-accent:      orange;
$color-primary:     #262626;
$color-secondary:   #F2F2F2;

$color-success:   #27AE60;
$color-danger:    #EB5757;
$color-warning:   #F2C94C;
$color-info:      #2D9CDB;

$border-radius-default: 1rem;

$padding-default: 1rem;

$margin-default: 1rem;