@use "./../../styles/variable" as *;
@use "./../../styles/mixins" as *;

header {
    border-bottom: 2px solid $color-secondary;
    background-color: darken($color-primary,5%);
    padding: $padding-default;

    nav {
        @include rfcc($jc: space-between, $gap: 0);

        h1 {
            color: $color-accent;
        }

        p {
            color: lighten($color-primary, 10%);
        }
    }
}