@use "./styles/variable" as *;

* {
    font-family: $font-family, $font-family-fallback;
    transition: all 0.2s ease-in-out;
}

body {
    background-color: $color-primary;
    color: $color-secondary;
}