@use "./styles/variable" as *;

* {
    font-family: $font-family, $font-family-fallback;
    // transition: all 0.2s ease-in-out;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-primary;
    color: $color-secondary;
}